:root {
    --main-color : #1b8415;
}

* {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
    height: 80vh;
}

main p {
    margin: 0;
}

header {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
}

.kemenag-title {
    color: var(--main-color);
}

.kemenag-logo {
    width: 8rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
.left-profile{
    margin-left: 2rem;
    width: 35em;
    text-align: justify;
}



.right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15em;
    margin-right: 40px;
}

.navv a {
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }